.content {
    display: flex;

    .topic {
        min-width:240px;
        border-right: 1px solid #ccc;
        margin-left: 12px;
        padding-right: 12px;

        .topic-note {
            background: yellow;
            padding: 1rem;
            margin: 1rem 0.3rem;
        }
    }
}
button {
    cursor: pointer;
}

